<div style="height: 100vh" class="paginaPrincipal">
    <div class="d-flex justify-content-center">
        <div class=" " style="width: 80%">
            <div class="row">
                <div class="col">
                    <div class="card mt-3">
                        <div class="card-header">
                            Esqueci minha senha
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Seu Login">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Senha Atual">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Nova Senha">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Confirme sua senha">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col">
                                    <button class="btn btn-danger">Salvar</button>
                                </div>
                                <div class="col d-flex justify-content-end align-items-center">
                                    <a href="" routerLink="/forget-me-email">Não lembro minha senha atual</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
