<div class="container">

  <div class="row">
    <div class="col-lg-6 col-xl-3 mb-4">
      <div class="card bg-primary text-white h-100">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <div class="me-3">
              <div class="text-white-75 small">Clientes</div>
              <div class="text-lg fw-bold"> {{clientes.length}}</div>
            </div>
            <i class="feather-xl text-white-50" data-feather="calendar"></i>
          </div>
        </div>
        <div class="card-footer d-flex align-items-center justify-content-between small">
          <a class="text-white stretched-link" routerLink="/clientes">Ver lista de Clientes</a>
          <div class="text-white"><i class="fas fa-angle-right"></i></div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-xl-3 mb-4">
      <div class="card bg-warning text-white h-100">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <div class="me-3">
              <div class="text-white-75 small">Usuarios</div>
              <div class="text-lg fw-bold">{{usuarios.length}}</div>
            </div>
            <i class="feather-xl text-white-50" data-feather="dollar-sign"></i>
          </div>
        </div>
        <div class="card-footer d-flex align-items-center justify-content-between small">
          <a class="text-white stretched-link" routerLink="/users">Ver lista de Usuarios</a>
          <div class="text-white"><i class="fas fa-angle-right"></i></div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-xl-3 mb-4">
      <div class="card bg-success text-white h-100">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <div class="me-3">
              <div class="text-white-75 small">Task Completion</div>
              <div class="text-lg fw-bold">24</div>
            </div>
            <i class="feather-xl text-white-50" data-feather="check-square"></i>
          </div>
        </div>
        <div class="card-footer d-flex align-items-center justify-content-between small">
          <a class="text-white stretched-link">View Tasks</a>
          <div class="text-white"><i class="fas fa-angle-right"></i></div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-xl-3 mb-4">
      <div class="card bg-danger text-white h-100">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <div class="me-3">
              <div class="text-white-75 small">Pending Requests</div>
              <div class="text-lg fw-bold">17</div>
            </div>
            <i class="feather-xl text-white-50" data-feather="message-circle"></i>
          </div>
        </div>
        <div class="card-footer d-flex align-items-center justify-content-between small">
          <a class="text-white stretched-link">View Requests</a>
          <div class="text-white"><i class="fas fa-angle-right"></i></div>
        </div>
      </div>
    </div>
  </div>
</div>
