<div style="height: 100vh" class="paginaPrincipal">
    <div class="d-flex justify-content-center">
        <div class=" " style="width: 80%">
            <div class="row">
                <div class="col">
                    <div class="card mt-3">
                        <div class="card-header">
                            Digite seu email para que enviemos um link para recuperação da sua senha
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Email">
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-4">
                                <div class="col">
                                    <button class="btn btn-danger" routerLink="/forget-me-recupera">Enviar</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
