<div class="container mt-2">
  <div class="row mt-4">
    <div class="col-sm-6">
      <ng-container class="mt-4" *ngIf="clientes.length == 0">
        <h3 class="text-muted">Não há clientes a serem exibidos</h3>
      </ng-container>
      <div class="h3" *ngIf="clientes.length > 0">Lista de Clientes</div>
    </div>
    <div class="col-sm-6 d-flex flex-row-reverse">
      <button class="btn btn-danger" routerLink="/cliente-add">
        Adicionar Cliente
      </button>
    </div>
  </div>
  <table class="table table-striped mt-4" *ngIf="clientes.length > 0">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Nome Completo</th>
        <th scope="col">CPF</th>
        <th scope="col">Celular</th>
        <th scope="col">Email</th>
        <th scope="col">Data de Nascimento</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes">
        <th class="text-center">
          <a [routerLink]="['/cliente-edit', cliente.id]">
            <svg viewBox="0 0 24 24" width="15" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M17,22H5a3,3,0,0,1-3-3V7A3,3,0,0,1,5,4H9A1,1,0,0,1,9,6H5A1,1,0,0,0,4,7V19a1,1,0,0,0,1,1H17a1,1,0,0,0,1-1V15a1,1,0,0,1,2,0v4A3,3,0,0,1,17,22Z"
                fill="#464646" />
              <path
                d="M14.6,5.87l-4.95,5a.41.41,0,0,0-.13.23l-1,3.82a.48.48,0,0,0,.13.48A.47.47,0,0,0,9,15.5a.32.32,0,0,0,.13,0l3.82-1a.41.41,0,0,0,.23-.13L18.13,9.4Z"
                fill="#464646" />
              <path d="M21,4.45,19.55,3a1.52,1.52,0,0,0-2.13,0L16,4.45,19.55,8,21,6.58A1.52,1.52,0,0,0,21,4.45Z"
                fill="#464646" />
            </svg></a>
        </th>
        <td>{{cliente.nomeCompleto}}</td>
        <td>{{cliente.cpf}}</td>
        <td>{{cliente.celular}}</td>
        <td>{{cliente.email}}</td>
        <td>{{cliente.dataNascimento | date:'dd/MM/yyyy'}}</td>
        <td>
          <a (click)="removerCliente(cliente.id)" style="cursor: pointer;">
            <svg height="30" id="trash" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
              <defs>
                <style>
                  .vi-primary {
                    fill: #FF6E6E;
                  }

                  .vi-primary,
                  .vi-accent {
                    stroke: #fff;
                    stroke-linecap: round;
                    stroke-width: 0;
                  }

                  .vi-accent {
                    fill: #0C0058;
                    fill-rule: evenodd;
                  }
                </style>
              </defs>
              <rect class="vi-primary" height="26" width="22" x="13" y="16" />
              <path class="vi-accent" d="M18.969,7h9.969L33,11H15ZM11,11H37v5H11V11Zm7,9h4V37H18V20Zm8,0h4V37H26V20Z" />
            </svg>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
